.button-input-image {}


.custom-button-input-image {
  /* display: inline-block; */
  cursor: pointer;
  padding: 35px;
  border-radius: 7px;
  border: 1px solid #EAEAEC;

}

.custom-button-input-image div {
  padding-bottom: 5px;
}

.charactor-image-list-items-product {
  margin: 0;
  text-align: center;
  margin-top: 15px;
}

.list-image-product-detail-page {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
}

.every-image-of-list img {
  border-radius: 7px;
  border: 1px solid #EAEAEC;
}

.product-name-input-place label {
  font-weight: 500;
  font-size: medium;
}

.product-name-input-place p {
  text-align: end;
}

.product-name-input-place div {
  margin-top: 5px;
  height: 40px;
  width: 100%;
  border: 1px solid #E4E4E7;
  border-radius: 7px;

}

.product-name-input-place div input {
  height: 100%;
  width: 100%;
  border: 0;
  background-color: transparent;
  outline: none;
  /* background-color: aquamarine; */
  padding: 5px 20px;
}

.Description-input-place {
  height: 200px;
}

.lable-Description lable {
  font-weight: 500;
  font-size: medium;
}

.Description-input-place div {
  /* margin-top: 5px; */
  height: 100px;
  width: 100%;
  /* border: 1px solid #E4E4E7; */
  border-radius: 7px;
}

.Description-input-place div input {
  height: 100%;
  width: 100%;
  border: 0;
  background-color: transparent;
  outline: none;
  /* background-color: aquamarine; */
  padding: 5px 20px;
}

.Price-input-place {
  margin-top: 15px;
}

.Price-input-place div {
  height: 40px;
  width: 100%;
  border: 1px solid #E4E4E7;
  border-radius: 7px;
  margin-top: 5px;
}

.Price-input-place div input {
  outline: none;
  border: 0;
  background-color: transparent;
  height: 100%;
  width: 94%;
  padding: 5px 0;
  padding-left: 12px;

}

.Price-input-place div p {
  background-color: #E4E4E7;
  padding: 0 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 0;

  border: 1px solid #E4E4E7;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}


.check-agree-or-donnot-agree {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.check-agree-or-donnot-agree p {
  margin: 0;
}

.button-list-item-import-product a{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  height: 45px;
  background-color: #2563EB;
  color: aliceblue;
  border-radius: 7px;
}

.button-list-item-import-product:hover {
  background-color: #032E89;
  transition: background-color 0.5s linear, transform 0.3s
}

.button-list-item-import-product[aria-disabled="true"] {
  color: #F1F5F9;
  cursor: not-allowed;
  opacity: 0.6;
}