.Block-footer-content{
    background-color: #000000;

}

.block-footer-content-above{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block-footer-contend-detail{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer-content-about-us{
    margin-right: 150px;
}

.content-logo-footer{
    color: #647482;
}

.content-logo-footer p{
    margin: 0;
    margin-bottom: 10px;
}

.footer-content-about-us{
    color: #E8FAFC;
    
}

.footer-content-company{
    color: #E8FAFC;
}

.block-footer-content-below{
    display: flex;
    justify-content: space-between;
}


.content-left-footer-below{
    color: #515363;
}

.content-right-footer-below{
    color: #F8FAFC;
}


.input-email-footer-above {
    position: relative;
    height: 45px;
    width: 100%;
    border: 1px solid #808080;
    border-radius: 7px;
    margin: 10px 0;
}

.input-email-footer-above input{
    border: 0;
    background-color: transparent;
    color: azure;
    width: 85%;
    padding: 2px 0;
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}


#icon-arrow-footer-above{
    color: #F8FAFC;
    position: absolute;
    top: 10px;
    right: 10px;
}

#image-footer-above-face{
    padding-bottom: 5px;
}
